body{
    margin: 0;
    background:linear-gradient(to left bottom, cornflowerblue, lightblue);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
    background: rgba(255, 255, 255, .2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0 ,0, .3);
    margin: 10px;

}
.heading{
    font-size: 38px;
}
.input{
    padding: 10px 20px;
    font-size: 18px;
    background: rgba(255, 255, 255, .4);
    border-color: rgba(255, 255, 255, .5);
    margin: 10px;

}
.btn{
    background-color:cadetblue;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 25px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 4px rgba(0, 0 ,0, .3);
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 8px rgba(0, 0 ,0, .3);
    transition: all 300ms ease;
    font-weight: 500;

}
